{{ if site.Params.zenMode }}
<footer class="flex flex-col md:flex-row justify-between items-center gap-4 max-w-[65ch] mx-auto px-4 md:px-0 py-12">
{{ else }}
<footer class="flex flex-col md:flex-row justify-between items-center gap-4 px-4 py-12">
{{ end }}
  {{ partial "footerLeft.html" . }}
  <div
    x-data="{ icons: [
      { name: 'sunny', status: 'n' },
      { name: 'moon', status: 'y' }
    ] }"
    class="flex items-center gap-2 h-8 px-2 bg-base-100 border border-base-content/30 rounded-full"
  >
    <template x-for="icon in icons">
      <div
        role="button"
        tabindex="0"
        :aria-label="'Select ' + icon.name + ' mode'"
        class="group inline-flex justify-center items-center p-1 rounded-full cursor-pointer hover:bg-primary"
        :class="$store.darkMode.icon() === icon.name && 'bg-primary'"
        @click="$store.darkMode.toggle(icon.status)"
      >
        <ion-icon
          :name="`${icon.name}-outline`"
          class="group-hover:text-primary-content"
          :class="$store.darkMode.icon() === icon.name && 'text-primary-content'"
        >
        </ion-icon>
      </div>
    </template>
  </div>
</footer>
